<tr>
    <td scope="row">{{content.iname}}</td>
    <td>{{content.ilabel}}</td>
    <td><a href='#'><i class="bi bi-0-circle"></i><i class="fas fa-plus"></i></a></td>
    <td><a href='#'><i class="fas fa-edit"></i></a></td>
    <td><a href='#'><i class="fas fa-trash-alt"></i></a></td>
</tr>