<tr>
    <td scope="row">{{content.iname}}</td>
    <td>{{content.ilabel}}</td>
    <td><a href='#'><i class="bi bi-0-circle"></i>+</a></td>
    <td><a href='#'>E</a></td>
    <td><a href='#'>D</a></td>
</tr>