{{ attach_library('sir/sir_js_css') }}

<div class="container">
  <div class="row align-items-start">
    <div class="col-3">
        <div id='experienceblock'>
          <div class="mb-3">
              <label for="experiencename" class="form-label">Experience name</label>
                <input type="text" class="form-control" id="experiencename">
          </div>
        </div>
        <div class="mb-3">
          <button class="btn btn-primary" id="searchexperiencebytypebtn">Search</button>
        </div>
    </div>
    <div class="col-9">
      <div class="content">
        {%if content.experiments is not empty %}
        <table class="table">
          <thead>
            <tr>
                <th scope="col">Name</th>
            </tr>
          </thead>
          <tbody id='searchexperimentscontent'>
                {% for experiment in content.experiments %}
                    {{experiment}} 
                {% endfor %}  
            
        </tbody>
        </table>
        {% else %}
          <div>
            {{ 'No experiments were found' }}
            </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
